@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    background: rgb(2,2,4);
background: linear-gradient(180deg, rgba(2,2,4,1) 0%, rgba(6,4,17,1) 100%);
    color:white !important;
}